.sign-in{
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    display: flex;
}
.info-part{
    width: 51%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-image: url(./imgs/bg-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ill{
    width: 423px;
    max-width: 50%;
    height: auto;
    margin-top: 17%;
}

.logo-contain{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 4%;
}
.join{
    text-align: center;
    margin-top: 5%;
    font-size: 31px;
    font-family: Inter;
    font-weight: 800;
    color: white;
    max-height: 16%;
}
.logo__yololo{
    font-family: "Righteous", Inter, sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;
    letter-spacing: .4px;
}
.sign__info{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: "Zen Kaku Gothic Antique", Inter, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.regis {
    width: 49%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regis__join {
    text-align: center;
    font-size: 28px;
    margin-top: 90px;
    font-family: "Zen Kaku Gothic Antique", Inter, sans-serif;
    font-weight: 900;
}

.regis__btns {
    margin-top: 70px;
    display: flex;
}
.regis__btns a {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EEEEEE;
    padding: 12px 19px;
    background-color: #EEEEEE;
    border-radius: 48px;
}
.regis-vk, .regis-google{
    display: flex;
    align-items: center;
    gap: 5px;
}
.regis-form {
    max-width: min-content;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.regis-form label {
    font-size: 12px;
    color: #757575;
}
.regis-form__input  {
    font-size: 18px;
    font-family: "Zen Kaku Gothic Antique", Inter, sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
    width: 480px;
    padding: 20px 0 10px 0;
    color: #212121;
}
.regis-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.regis__checkbox{
    
    outline: none;
}
.regis__btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #7B76F1;
    border-radius: 56px;
    padding: 20px 50px;
    font-size: 19px;
    color: white;
    font-family: "Zen Kaku Gothic Antique", Inter, sans-serif;

}
.sign-link {
    margin-top: 30px;
}

@media(max-width: 900px){
    .sign-in {
        display: block;
    }
    .info-part {
        width: 100%;
    }
    .regis {
        width: 100%;
    }
}