.nav{
   background: rgba(255, 255, 255, 1);
   border-right: 1.5px solid rgba(241, 242, 246, 1);
   width: 82px;
}

.icons{
   display: grid;
   grid-template-columns: 1fr;
   margin-top: 90px;
   
   color:rgba(153, 153, 153, 1);
}

.icon{
   padding-bottom: 50px;
   padding-left: 10px;
}


.clicked{
   color: rgba(67, 75, 248, 1);
   padding-left: 12px;
}



.logo{
   height: 40px;
   margin-top: -70px;
   padding-left: 10px;
}


