.container {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
 }
 .sign{
    width: 100vw;
    height: 120vh;
 }
 .btns{
    margin-left: 200px;
}
.btns a {
    padding: 5px 20px;
    margin: 10px;

 }